---
import Layout from "@/Layout.astro"
---

<Layout title="404 - Hyperion Proxy" desc="Hyperion Proxy – 404 page">
  <div class="logo-wrapper left-margin">
    <h1>Page Not Found</h1>
    <h2>Possible reasons this is broken</h2>
    <ul>
      <li>You entered the wrong URL</li>
      <li>Hyperion Proxy couldn't find your page</li>
    </ul>
    <p>
      Try pressing <kbd>Ctrl</kbd
      > + <kbd>Shift</kbd> + <kbd>R</kbd>.
    </p>
    <button onclick="history.back()">Go back</button>
  </div>
</Layout>
