---
import { Icon } from "astro-icon/components"
---

<footer
  class="w-full absolute bottom-0 bg-surface bg-surface/50 flex justify-between items-center p-4"
>
  <section class="flex items-center gap-4">
    <div class="flex items-center gap-3">
      <a
        href="https://github.com/321EZ123/Hyperion-Proxy"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub Repository"
        class="hover:text-gold transition-colors"
      >
        <Icon name="ph:github-logo-bold" class="size-5" />
      </a>
      <a
        href="https://discord.gg/Gv4rVt2SJp"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Discord Server"
        class="hover:text-gold transition-colors"
      >
        <Icon name="ph:discord-logo-bold" class="size-5" />
      </a>
    </div>
    <span>
      Made by <span class="text-gold underline">EZ123</span>
    </span>
  </section>
</footer>
